<script language="JavaScript">
//<![CDATA[
function comp_function_show() {
 document.getElementById('comp_id_tree_div').style.visibility = 'visible'
}

function comp_function_replace(old_parent, new_element, old_id) {
 if (old_parent.hasChildNodes()) {
  old_element = document.getElementById(old_id)
  if (old_element) {
   old_parent.removeChild(old_element)
  }
 }
 old_parent.appendChild(new_element)
}

function select(selection) {
 document.getElementById('comp_id_tree_selection').value = selection[0]
 document.getElementById('comp_id_tree_div').style.visibility = 'hidden'

 var link_choice = document.createElement('div')
 link_choice.appendChild(document.createTextNode(selection[1]))
 link_choice.setAttribute('id', 'comp_id_tree_choice')

 comp_function_replace(document.getElementById('comp_id_tree_text'), link_choice, 'comp_id_tree_choice')
}
//]]>
</script>

<input type='hidden' id='comp_id_tree_selection' name='{4}' value='{1}' />
<a id='comp_id_tree_text' href='#' onclick='comp_function_show(); return false;'><div id='comp_id_tree_choice'>{2}</div></a>

<div id='comp_id_tree_div' style='position:absolute; background-color:#ffffff; visibility:hidden'>
 <iframe src='{3}' width='100%' height='100%'>
 </iframe>
</div>
